.navigation__logo_type_bread-crumbs{
    transition: 0.5s;
}

.navigation__logo_type_bread-crumbs:hover{
    cursor: pointer;
    opacity: 0.6;
}

.navigation__links{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;
}

.navigation__link{
    text-decoration: none;
}

.navigation__link:hover{
    cursor: pointer;
    opacity: 0.6;
}

.navigation__link_type_register{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #FFFFFF;
}
