/* navigation__links styles */
.navigation__links{
    display: flex;
    align-items: center;
    gap: 30px;

    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* navigation__links styles */

/* navigation__link styles */
.navigation__link{
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
}

.navigation__link:hover{
    cursor: pointer;
    opacity: 0.6;
}
/* navigation__links styles */

.navigation__logo_type_bread-crumbs{
    transition: 0.5s;    
}

.navigation__logo_type_bread-crumbs:hover{
    cursor: pointer;
    opacity: 0.6;
}
