.register{    
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    align-self: center;
}

.register__welcome{
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin: 40px 0 40px 0;
}

.register__signin{
    display: flex;
    justify-content: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    gap: 5px;
}

.register__link{
    text-decoration: none;
    transition: 0.5s;
    color: white;
}

.register__link:hover{
    cursor: pointer;
    opacity: 0.6;
}

.register__input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #8B8B8B;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    padding-bottom: 13px;
    color: #CCCCCC;
    background-color: transparent;
}

.register__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.register__section{
    width: 100%;
}

.register__label{
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
}

.register__register{
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.register__link-paragraph{
    margin: 0;
}

.register__link{
    text-decoration: none;
    color: #4285F4;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.register__not-register{
    margin: 0;
    color: #8B8B8B;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.register-form__input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    padding-bottom: 13px;
    color: black;
}

.register-form__input_type_error{
    border-bottom-color: red;
}

.register-form__section{
    position: relative;
    width: 100%;
}

.register-form__span-error{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    position: absolute;
    opacity: 0;
    top: calc(100% + 5px);
    left: 0;
    transition: opacity 0.3s;
}

.register-form__span-error_active{
    opacity: 1;
}

@media screen and (max-width: 1023px){
    .register{
        margin-top: 170px;
    }
}

@media screen and (max-width: 767px){
    .register{
        margin-top: 120px;
    }
}

@media screen and (max-width: 424px){
    .register{
        margin-top: 56px;
        align-items: center
    }

    .register__welcome{
        letter-spacing: 0em;
        text-align: center;
        margin: 50px 0 80px 0;
    }

    .register__link{
        font-size: 12px;
        line-height: 16px;
    }
    
    .register__not-register{
        font-size: 12px;
        line-height: 16px;
    }
}